html, body {
    padding:0px;
    margin:0px;
    background-size: cover;
    background-image: url("/assets/images/HOME_background.png");
    color : white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#backgroundIMG{
    position: fixed;
    width:100%;
    height:100%;
}
#HOME{
    display: block;
    
    
}
.param{
  display: none;
}
.announce{
  color: rgb(255, 196, 0);
  text-shadow: black;
  font-size: xx-large;
  position: fixed;
  top: 100px;
  width: 100%;
  height: 100px;
  text-align: center;
}
#chatMessages {
  position: fixed;
  top: 10px;
  right: 200px;
  width:300px;
  height:120px;
  padding:20px;
  color : white;
  background: rgba(50, 46, 104, 0.082);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  display: none;
}
#conversation{
  width: 300px;
  height: 120px;
  overflow-y:scroll;
  
  overflow-wrap: break-word;
  
}
.conatinerSendMSG{
  padding-top: 5px;
  position: absolute;
  bottom: -25px;
  left:0px;
  width: 340px;
  height: 25px;
  background-color:rgba(100, 100, 100, 0.774);
  border-radius: 13px;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.data{
  border: none;
  color: white;
  background-color: transparent;
  width: 250px;
  margin-left: 20px;
}
.datasend{
  cursor: pointer;
  width: 50px;
  background-color: transparent;
  border: none;
  color: white;
}

#Settings1{
  margin-top: 50px;
  width: 150px;
  margin-left: 125px;
  float: left;
}
#Settings2{
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
  float: left;
}
.checkboxBouton{
  float: left;
}
#GAME{
    display: none;
}
#READY{
    display: none;
}
#LOADING{
    display: none;
}
#WAITING{
    display: none;
}

#TIMEOUT{
    display: none;
    z-index: 0;
}
#userList {
    position: fixed;
    top: 70px;
    right: 10px;
    width:120px;
    height:20%;
    padding:20px;
    color : white;
    background: rgba(50, 46, 104, 0.082);
    backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
}


#FILTRE{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    position: fixed;
}


#MSG{
    top: 240px;
    right: 23px;
    position: fixed;
}

#COOLDOWN{
    position: fixed;
    top : 50%;
    width: 100%;
    text-align: center;
    font-size : 100 ;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    color: rgb(255, 238, 1);
}

#indication{
  text-align: center;
    width: 200px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 50px;
    
}
#boxIndication{
  display:block;
  background-color: blue;
  margin-top: 200px;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
  border-radius: 16px;
}

#myCanvas {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.titleHOME{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 50px;
    margin-bottom: -100px;
  }
.lobbyCell{
  background: rgba(196, 196, 196, 0.08);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  width: 500px ;
  margin-left: 50px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lobbyName{
  float: left;
  padding: 30px;
}
.lobbyCounter{
  float: left;
  padding: 30px;
}
.Join{
  margin-top: 13px;
  float: right;
  padding: 20px;
  margin-right: 13px;
}
.boutonRefreshList{
  padding: 20px;
  //width: 60px;
  margin-left: 240px;
  margin-top: 50px;
}
button{
  border : none;

  color:#ffffff;
  background: rgba(196, 196, 196, 0.08);
  border-radius: 13px;
}
button:hover{
  color:#ffffff;
    background-color:rgba(196, 196, 196, 0.466);
}
.button1{
    border : none;
    /* Note: backdrop-filter has minimal browser support */
    width: 80%;
    margin-top: 50px;
    color:#ffffff;
    margin-left: 10%;
    padding: 50px;
    background: rgba(196, 196, 196, 0.08);
    border-radius: 13px;
}
.button1:hover{
    color:#ffffff;
    background-color:rgba(196, 196, 196, 0.466);
}
.containerHOME{
    background-color: blue;
    margin-top: 150px;
    width: 600px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

border-radius: 30px;
}
.input{
    border : none;
    /* Note: backdrop-filter has minimal browser support */
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    height: 50px;
    padding: 40px;
    background: rgba(196, 196, 196, 0.08);
    border-radius: 13px;
    color:#ffffff;
}
.input:hover{
    color:#ffffff;
    background-color:rgba(196, 196, 196, 0.466);
}

#musique{
    bottom: 0;
}
.checkboxBouton{

}
#infoText {
    position: fixed;
    top : 10;
    left :10;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);

}


#BRAKE{
    position: fixed;
    top : 40%;
    left:0%;
}
#FIRE{
    position: fixed;
    top : 40%;
    left:7%;
}
#JUMP{
    position: fixed;
    top : 40%;
    left:14%;
}

#pause{
    position: fixed;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size:100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);

  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#right{
    display: none;
    width: 10%;
    padding-bottom:1.2%;
    bottom: 2%;
    right: 3%;
    position: fixed;
}

#left{
    display: none;
    width: 10%;
    padding-bottom:1.2%;
    bottom: 2%;
    right: 15%;
    position: fixed;
}

#up{
    display: none;
    width: 10%;
    padding-bottom:1.2%;
    bottom: 21%;
    right: 9%;
    position: fixed;
}




.buttonParam {
  background-size: contain;
  position: fixed;
  cursor: pointer;
  top: 15px;
  width: 40px;
  height: 40px;
}

#closeButtonSettings {
  background-image: url(/assets/images/close.svg);
  position: absolute;
  right: 15px;
}

#bodyPanelSettings {
  position: relative;
  padding: 0;
  margin-top: 15%;
  margin-left: 6%;
  margin-right: 6%;
  height: 10%;
  background-color: #0A1527;
}

#settingsPanel {
  display: none;
  z-index: 1300;
  position: fixed;
  border: 3px solid #A3ACB7;
  background-color: #59616C;
  top: 8%;
  bottom: 10%;
  right: 25%;
  left: 25%;
}

.buttonSettingsPanel {
  background-color: #0A1527;
  font-family: 'Arial';
  font-size: x-large;
  font-weight: bold;
  position: relative;
  text-align: center;
  cursor: pointer;
  color: #E9E4C6;
  outline: none;
  padding: 0;
  height: 100%;
  width: 50%;
  border: 0;
}

#buttonSelected {
  position: relative;
  width: 50%;
  height: 4%;
  background-color: #A3ACB7;
}

#buttonFullscreen {
  background-image: url(/assets/images/fullScreen.svg);
  right: 15px;
}

#buttonFullscreen:hover {
  background-image: url(/assets/images/fullScreen-hover.svg);
  right: 15px;
}

#buttonMinimisedscreen {
  background-image: url(/assets/images/minimisedScreen.svg);
  right: 15px;
}

#buttonMinimisedscreen:hover {
  background-image: url(/assets/images/minimisedScreen-hover.svg);
  right: 15px;
}

#buttonSettings {
  background-image: url(/assets/images/settings.svg);
  right: 70px;
}

#buttonSettings:hover {
  background-image: url(/assets/images/settings-hover.svg);
  right: 70px;
}

#buttonHome {
  background-image: url(/assets/images/home.svg);
  right: 125px;
}

#buttonHome:hover {
  background-image: url(/assets/images/home-hover.svg);
  right: 125px;
}




.switch {
  --inactive-bg: #cfd8dc;
  --active-bg: #00e676;
  --size: 1rem;
  appearance: none;
  width: calc(var(--size) * 2.2);
  height: var(--size);
  display: inline-block;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
  background-color: var(--inactive-bg);
  background-image: radial-gradient(
      circle calc(var(--size) / 2.1),
      #fff 100%,
      #0000 0
    ),
    radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
  background-repeat: no-repeat;
  background-position: calc(var(--size) / -1.75) 0;
  transition: background 0.2s ease-out;
}
.switch:checked {
  background-color: var(--active-bg);
  background-position: calc(var(--size) / 1.75) 0;
}
.btnMSG{
  background: rgba(196, 196, 196, 0.08);
  border-radius: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 130px;
  border: none;
  color: white;
}
.btnMSG:hover{
  color:#ffffff;
  background-color:rgba(196, 196, 196, 0.466);
}
.spann{
  float:left;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    
  }
